.au-about {
  margin-top: 8rem;
  display: flex;
  justify-content: center;

  * {
    text-align: center;
  }

  p, h1 {
    max-width: 40rem;
  }
}

@media (min-width: 48em) {
  .au-about {
    margin-top: 10rem;
  }
}
@media (min-width: 80em) {
  .au-about {
    margin-top: 10rem;
    padding-bottom: 14.5rem;
    padding-top: 8.125rem;
  }
}
